// min-width is exclusive
// max-width is inclusive

@function map-deep-get($map, $keys...) {
  @each $key in $keys { $map: map-get($map, $key) }
  @return $map
}

$zero: 0px;
$infinity: 10000000000px;

$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

$breakpoints: (
  'sm-down': (
    'min-width': $zero,
    'max-width': $breakpoint-md
  ),
  'sm-only': (
    'min-width': $zero,
    'max-width': $breakpoint-md
  ),
  'sm-up': (
    'min-width': $zero,
    'max-width': $infinity
  ),
  'md-down': (
    'min-width': $zero,
    'max-width': $breakpoint-lg
  ),
  'md-only': (
    'min-width': $breakpoint-md,
    'max-width': $breakpoint-lg
  ),
  'md-up': (
    'min-width': $breakpoint-md,
    'max-width': $infinity
  ),
  'lg-down': (
    'min-width': $zero,
    'max-width': $infinity
  ),
  'lg-only': (
    'min-width': $breakpoint-lg,
    'max-width': $infinity
  ),
  'lg-up': (
    'min-width': $breakpoint-lg,
    'max-width': $infinity
  )
);

@mixin media($key) {
  @media
    (min-width: calc(#{map-deep-get($breakpoints, $key, 'min-width')} + 1px)) and
    (max-width: map-deep-get($breakpoints, $key, 'max-width')) {
    @content
  }
}
